.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9rem;
  min-height: 100vh;
  gap:30px;
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.employees {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.home:hover {
  color: #FFA69E;
}